In [1]:
import pandas as pd

# 1. Reading a .csv from a URL with Pandas

target website:  https://www.football-data.co.uk/data.php

In [5]:
# reading 1 csv file from website
df_premier2425 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2425/E0.csv")

In [6]:
df_premier2425.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 380 entries, 0 to 379
Columns: 120 entries, Div to BFECAHA
dtypes: float64(96), int64(16), object(8)
memory usage: 356.4+ KB

In [8]:
df_premier2425.head()

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E0,16/08/2024,20:00,Man United,Fulham,1,0,H,0,0,...,1.86,2.07,1.83,2.11,1.88,2.11,1.82,2.05,1.90,2.08
1,E0,17/08/2024,12:30,Ipswich,Liverpool,0,2,A,0,0,...,2.05,1.88,2.04,1.90,2.20,2.00,1.99,1.88,2.04,1.93
2,E0,17/08/2024,15:00,Arsenal,Wolves,2,0,H,1,0,...,2.02,1.91,2.00,1.90,2.05,1.93,1.99,1.87,2.02,1.96
3,E0,17/08/2024,15:00,Everton,Brighton,0,3,A,0,1,...,1.87,2.06,1.86,2.07,1.92,2.10,1.83,2.04,1.88,2.11
4,E0,17/08/2024,15:00,Newcastle,Southampton,1,0,H,1,0,...,1.87,2.06,1.88,2.06,1.89,2.10,1.82,2.05,1.89,2.10

In [10]:
df_premier2425.rename(columns = {"FTHG":"home_goals",
                                 "FTAG":"away_goals"}, 
                      inplace = True)

In [11]:
df_premier2425.head()

,Div,Date,Time,HomeTeam,AwayTeam,home_goals,away_goals,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E0,16/08/2024,20:00,Man United,Fulham,1,0,H,0,0,...,1.86,2.07,1.83,2.11,1.88,2.11,1.82,2.05,1.90,2.08
1,E0,17/08/2024,12:30,Ipswich,Liverpool,0,2,A,0,0,...,2.05,1.88,2.04,1.90,2.20,2.00,1.99,1.88,2.04,1.93
2,E0,17/08/2024,15:00,Arsenal,Wolves,2,0,H,1,0,...,2.02,1.91,2.00,1.90,2.05,1.93,1.99,1.87,2.02,1.96
3,E0,17/08/2024,15:00,Everton,Brighton,0,3,A,0,1,...,1.87,2.06,1.86,2.07,1.92,2.10,1.83,2.04,1.88,2.11
4,E0,17/08/2024,15:00,Newcastle,Southampton,1,0,H,1,0,...,1.87,2.06,1.88,2.06,1.89,2.10,1.82,2.05,1.89,2.10

# 2. Read .csv file from Multiple URLs with Pandas

https://www.football-data.co.uk/mmz4281/2425/E0.csv
### Link: root + season + league

In [12]:
# link structure
"https://www.football-data.co.uk/mmz4281" + "2425" + "/" + "E0" + ".csv"

'https://www.football-data.co.uk/mmz42812425/E0.csv'

In [20]:
# create a root variable
root = "https://www.football-data.co.uk/mmz4281/"

#### MULTIPLE LEAGUES

In [30]:
leagues = ["E0","E1","E2","E3","EC"]
frames = []

# loop through leagues, read multiple csv and append it into a list
for league in leagues:
    df = pd.read_csv(root + "2425" + "/" + league + ".csv") # se non funziona, aggiungere: , encoding = "unicode_escape"
    frames.append(df)

In [26]:
len(frames)

5

In [29]:
frames[4]

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,EC,10/08/2024,15:00,Aldershot,Forest Green,3,3,D,2,1,...,1.83,1.98,1.87,1.99,1.87,2.00,1.83,1.99,1.88,2.02
1,EC,10/08/2024,15:00,Altrincham,Woking,1,0,H,1,0,...,1.83,1.98,1.83,2.04,1.85,2.04,1.82,1.95,1.86,2.14
2,EC,10/08/2024,15:00,Boston Utd,Rochdale,0,3,A,0,2,...,1.85,1.95,1.88,1.98,1.88,1.98,1.84,1.93,1.92,2.00
3,EC,10/08/2024,15:00,Dag and Red,Wealdstone,2,1,H,0,0,...,1.90,1.90,1.89,1.95,1.91,1.95,1.87,1.88,1.91,2.06
4,EC,10/08/2024,15:00,Fylde,Solihull,3,2,H,1,2,...,1.78,2.03,1.76,2.10,1.80,2.10,1.76,2.01,1.80,2.14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547,EC,05/05/2025,15:00,Maidenhead,Boston Utd,3,0,H,1,0,...,1.80,2.00,1.80,2.07,1.81,2.07,1.77,2.02,1.83,2.13
548,EC,05/05/2025,15:00,Oldham,Ebbsfleet,2,0,H,1,0,...,1.85,1.95,1.88,1.98,1.90,1.98,1.87,1.91,1.94,1.90
549,EC,05/05/2025,15:00,Solihull,Dag and Red,1,1,D,0,1,...,1.98,1.83,1.96,1.89,1.98,1.89,1.95,1.84,2.02,1.91
550,EC,05/05/2025,15:00,Sutton,Woking,1,1,D,0,1,...,1.95,1.85,1.93,1.93,1.95,1.93,1.93,1.84,2.01,1.96
551,EC,05/05/2025,15:00,Wealdstone,Halifax,3,1,H,3,0,...,2.03,1.78,2.07,1.80,2.07,1.81,2.01,1.78,2.12,1.72

#### MULTIPLE SEASON

In [34]:
for season in range(15, 24):
    print(str(season) + str(season + 1))

1516
1617
1718
1819
1920
2021
2122
2223
2324

In [45]:
leagues = ["E0","E1","E2","E3","EC"]
frames = []

# loop through leagues, read multiple csv and append it into a list
for league in leagues:
    for season in range(20, 24):
        df = pd.read_csv(root + (str(season) + str(season + 1)) 
                         + "/" + league + ".csv", encoding = "unicode_escape") # se non funziona, aggiungere: , encoding = "unicode_escape"
        df.insert(1, "season", ("20"+str(season)))
        frames.append(df)

In [46]:
len(frames)

20

In [49]:
frames[2]

,Div,season,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,2022,05/08/2022,20:00,Crystal Palace,Arsenal,0,2,A,0,...,1.76,0.50,2.09,1.84,2.04,1.88,2.09,1.88,2.03,1.85
1,E0,2022,06/08/2022,12:30,Fulham,Liverpool,2,2,D,1,...,2.73,1.75,1.90,2.03,1.91,2.02,2.01,2.06,1.89,1.99
2,E0,2022,06/08/2022,15:00,Bournemouth,Aston Villa,2,0,H,1,...,1.76,0.50,1.93,2.00,1.93,2.00,1.94,2.04,1.88,2.00
3,E0,2022,06/08/2022,15:00,Leeds,Wolves,2,1,H,1,...,1.87,-0.25,2.08,1.85,2.10,1.84,2.14,1.87,2.08,1.81
4,E0,2022,06/08/2022,15:00,Newcastle,Nott'm Forest,2,0,H,0,...,1.89,-1.00,1.97,1.96,1.99,1.93,2.19,1.97,2.03,1.86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,2022,28/05/2023,16:30,Everton,Bournemouth,1,0,H,0,...,2.14,-1.00,2.02,1.77,2.10,1.81,2.17,1.92,2.03,1.83
376,E0,2022,28/05/2023,16:30,Leeds,Tottenham,1,4,A,0,...,2.50,0.25,1.84,2.06,1.83,2.10,1.90,2.14,1.81,2.06
377,E0,2022,28/05/2023,16:30,Leicester,West Ham,2,1,H,1,...,2.51,-0.25,1.75,2.05,1.85,2.06,1.90,2.16,1.82,2.04
378,E0,2022,28/05/2023,16:30,Man United,Fulham,2,1,H,1,...,2.95,-1.25,1.98,1.92,1.98,1.93,2.07,1.98,1.97,1.89
379,E0,2022,28/05/2023,16:30,Southampton,Liverpool,4,4,D,2,...,3.22,1.25,1.82,2.08,1.85,2.07,1.96,2.12,1.88,1.98

# 3. Organize all the Data in a Dictionary

In [50]:
# create a dictionary with original name of league as key
dict_countries = {"Spanish La Liga":"SP1",
                 "Spanish Segunda Division":"SP2",
                 "German Bundesliga":"D1",
                 "English Premier League":"E0",
                 "English League 1":"E2"}

In [51]:
# get a dictionary element
dict_countries["Spanish La Liga"]

'SP1'

In [56]:
for league in dict_countries:
    print(dict_countries[league])

SP1
SP2
D1
E0
E2

In [61]:
dict_historical_data = {}

# leagues = ["E0","E1","E2"]


# loop through key elements
for league in dict_countries:
    frames = []
    for season in range(20, 24):
        df = pd.read_csv(root + (str(season) + str(season + 1)) 
                         + "/" + dict_countries[league] + ".csv", 
                         encoding = "unicode_escape") # se non funziona, aggiungere: , encoding = "unicode_escape"
        df.insert(1, "season", ("20"+str(season)))
        frames.append(df)
    df_concat = pd.concat(frames)
    dict_historical_data[league] = df_concat

In [63]:
dict_historical_data.keys()

dict_keys(['Spanish La Liga', 'Spanish Segunda Division', 'German Bundesliga', 'English Premier League', 'English League 1'])

In [66]:
dict_historical_data["Spanish La Liga"]

,Div,season,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,SP1,2020,12/09/2020,15:00,Eibar,Celta,0,0,D,0,...,1.51,0.00,1.94,1.96,1.96,1.96,1.98,2.01,1.92,1.96
1,SP1,2020,12/09/2020,17:30,Granada,Ath Bilbao,2,0,H,0,...,1.38,0.00,1.74,2.19,1.77,2.20,1.93,2.23,1.78,2.11
2,SP1,2020,12/09/2020,20:00,Cadiz,Osasuna,0,2,A,0,...,1.36,0.25,1.72,2.07,1.79,2.17,1.81,2.25,1.74,2.17
3,SP1,2020,13/09/2020,13:00,Alaves,Betis,0,1,A,0,...,1.61,0.25,1.93,1.97,1.93,2.00,1.95,2.05,1.88,1.99
4,SP1,2020,13/09/2020,15:00,Valladolid,Sociedad,1,1,D,1,...,1.40,0.00,2.07,1.83,2.13,1.82,2.13,1.88,2.06,1.82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,SP1,2023,25/05/2024,20:00,Real Madrid,Betis,0,0,D,0,...,3.43,-2.00,1.85,2.08,1.87,2.04,2.01,2.09,1.94,1.93
376,SP1,2023,26/05/2024,13:00,Getafe,Mallorca,1,2,A,0,...,1.58,-0.25,2.04,1.89,2.05,1.88,2.06,1.93,1.97,1.87
377,SP1,2023,26/05/2024,15:15,Celta,Valencia,2,2,D,0,...,2.04,-0.50,1.92,2.01,1.92,2.01,1.98,2.01,1.94,1.91
378,SP1,2023,26/05/2024,15:15,Las Palmas,Alaves,1,1,D,0,...,1.96,-0.25,2.06,1.87,2.06,1.88,2.06,1.90,2.01,1.84
379,SP1,2023,26/05/2024,20:00,Sevilla,Barcelona,1,2,A,1,...,2.71,0.75,2.06,1.87,2.06,1.87,2.09,2.00,1.97,1.88