In [33]:
import pandas as pd

In [34]:
df = pd.read_csv("players_20.csv")
df.set_index("short_name", inplace=True)
df = df[["long_name","age","dob","height_cm","weight_kg","nationality","club"]]

In [35]:
df.head(3)

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain

# Lambda function

In [36]:
# basic function
def sum_values(a, b):
    x = a + b
    return x

In [37]:
sum_values(2,3)

5

In [38]:
# lambda function
# temporary function for one use, to semplify things
sum_values_lambda = lambda a,b : a+b

In [39]:
sum_values_lambda(2, 4)

6

# apply() + Lambda function

In [40]:
# use lambda function to convert "height_cm" series to meter
# there are some cases when this is more usefull
df["height_cm"].apply(lambda x:x/100)
# alternative
df["height_cm"]/100

short_name
L. Messi             1.70
Cristiano Ronaldo    1.87
Neymar Jr            1.75
J. Oblak             1.88
E. Hazard            1.75
                     ...
Shao Shuai           1.86
Xiao Mingjie         1.77
Zhang Wei            1.86
Wang Haijian         1.85
Pan Ximing           1.82
Name: height_cm, Length: 18278, dtype: float64

In [41]:
# use lambda function to convert "long_name" series to upper case
# lambda is usefull if u dont remember all the attributes
df["long_name"].apply(lambda x:x.upper())
# alternative
df["long_name"].str.upper()

short_name
L. Messi                  LIONEL ANDRÉS MESSI CUCCITTINI
Cristiano Ronaldo    CRISTIANO RONALDO DOS SANTOS AVEIRO
Neymar Jr                  NEYMAR DA SILVA SANTOS JUNIOR
J. Oblak                                       JAN OBLAK
E. Hazard                                    EDEN HAZARD
                                    ...
Shao Shuai                                            邵帅
Xiao Mingjie                                MINGJIE XIAO
Zhang Wei                                             张威
Wang Haijian                                         汪海健
Pan Ximing                                           潘喜明
Name: long_name, Length: 18278, dtype: object

In [42]:
df["dob"] = df["dob"].astype("datetime64[ns]")
# use lambda function to get the year of the "dob" series
df["dob"].apply(lambda x:x.year)
# alternative
df["dob"].dt.year

short_name
L. Messi             1987
Cristiano Ronaldo    1985
Neymar Jr            1992
J. Oblak             1993
E. Hazard            1991
                     ...
Shao Shuai           1997
Xiao Mingjie         1997
Zhang Wei            2000
Wang Haijian         2000
Pan Ximing           1993
Name: dob, Length: 18278, dtype: int32

In [43]:
# apply lambda function to dataframe in order to calculate bmi
df.apply(lambda x: x["weight_kg"]/((x["height_cm"]/100)**2), axis=1)

short_name
L. Messi             24.913495
Cristiano Ronaldo    23.735308
Neymar Jr            22.204082
J. Oblak             24.615211
E. Hazard            24.163265
                       ...
Shao Shuai           22.835010
Xiao Mingjie         21.066743
Zhang Wei            21.678807
Wang Haijian         21.621622
Pan Ximing           23.547881
Length: 18278, dtype: float64

In [44]:
df["bmi"] = df.apply(lambda x: x["weight_kg"]/((x["height_cm"]/100)**2), axis=1)

In [45]:
df.head()

,long_name,age,dob,height_cm,weight_kg,nationality,club,bmi
short_name,,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona,24.913495
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus,23.735308
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain,22.204082
J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid,24.615211
E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid,24.163265